# Dependencies
node_modules/

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads
public/uploads/*
!public/uploads/.gitkeep
public/pdfs/*
!public/pdfs/.gitkeep

# Coverage
coverage/

# Temp files
*.tmp
*.temp
backend/a.env_2222
